*{
    box-sizing: border-box;
    font font-family:'Noto Sans KR', ssans-serif;
}
body{
    margin: 100px;
    background-color: white;   

}
.login{
    width: 300px;
    border: 0;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    margin: 0 auto;
}

.img{
    text-align: center;
    margin-left: 40px;
}

.text{
    font-size: 14px;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 10px;
    border-color: black;
    width: 300px;
}
.btn{
    font-size: 14px;
    width: 300px;
    color: white;
    background-color: #2DB40D;
    margin-bottom: 30px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.Link{
    margin-left: 30px;
    text-align: center;
}
.Link a{
    font-size: 12px;
    padding: 5px;
    margin-bottom: 5px;
    color: gray;
}